%%-*- mode:erlang -*-
{plugins, [
  {pc, "1.15.0"},
  {rebar3_hex, "7.0.4"},
  {rebar3_proper, "0.12.1"}
]}.

{minimum_otp_vsn, "27"}.

{erl_opts, [debug_info]}.

{deps, [
  {base64url, "1.0.1"},
  {cbor, ".*", {git, "https://github.com/yjh0502/cbor-erlang", {branch, "master"}}}
]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
