%%-*- mode:erlang -*-
{plugins, [
  {pc, "1.12.0"},
  {rebar3_hex, "6.10.3"},
  {rebar3_proper, "0.12.1"}
]}.

{erl_opts, [debug_info]}.

{deps, [
  {jiffy, "1.0.8"},
  {base64url, "0.0.1"},
  {cbor, ".*", {git, "https://github.com/yjh0502/cbor-erlang", {branch, "master"}}}
]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
